
*{box-sizing: border-box;}
body{
 height: 200vh;
 background-color: rgb(23, 59, 46);
 margin:0;
 padding:0;
}
header{
    display:flex;
 z-index: 100;
    position: sticky;
    position:-webkit-sticky;
    top:0;
    width:100%;
    padding:1px;
   background-color: darkgrey;

}

.jun{margin-right: auto;
    color:rgb(11, 92, 241);
}
.jun a:hover{
  color:rgb(77, 67, 86);
}
ul{
    font-family:verdana;
    list-style-type:none;
    margin-right: 12px;
    margin:10px;

}

li{
    color:rgb(8, 101, 241);
    display:inline-block;
    padding: 12px;
    cursor:pointer;
}

li a:hover{
    color:rgb(2, 41, 41);
    display: inline-block;
}
.dropdown{
display:inline-block;
}
        
.dropdown-content{
    position: absolute;
    right: 135px;
    z-index: 1;
    display: none;
    min-width: 100px;
    text-align: center;
    background-color: #f9f9f9;
    
}
.dropdown:hover .dropdown-content{
    display: block;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /*.dropdown-content a:hover {background-color: #b7e4b7}*/


   .banner{
    background-color: rgb(11, 58, 59);
    width: 100%;
 }
  
  
  .banner-gallery{
    padding: 0 6px;
  float: left;
  width:fit-content;
  height: fit-content;
  margin:10px;
}
  
  
  .img-desc{
    padding: 15px;
    text-align: center;
    color:#f9f9f9;
    font-size: large;

  }
  @media only screen and (max-width: 700px) {
    .banner-gallery {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .banner-gallery {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  footer{
    width: 100%;
    background-color: rgb(141, 60, 107);
    margin: 0;
    padding:5px;
    text-align: center;
   
}

button{
  cursor:pointer;
  background-color: darkcyan;
}
